<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hello!</title>
</head>

<body>
    <h1>Hello ASP.NET Mvc!</h1>
    @{
        string[] myArray = new string[4];
        // var StringList = new List<string>
        {
            "Amy",
                "bonnie",
                "clyde",
                "bob"
                };

        foreach (var word in StringList)
        {   
            <p>@myArray</p>
            //<p>@word</p>
        }
    }
</body>

</html>